<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="user-card">
	<div class="card">
		<div class="row g-0 overflow-y-hidden" style="height: 60px">
			<div class="col-3 mh-100" style="width: 60px">
		    	<img class="img-fluid rounded-start" th:src="${userItem.displayImageUrl}"
		    		onerror="if (this.src != '0.png') this.src = '/image/0.png';">
		    </div>
		    <div class="col mh-100">
		    	<div class="card-body px-4 h-100">
		        	<h5 class="card-title m-0" th:text="${userItem.displayName}"></h5>
		        	<a th:href="@{~/user/profile/} + ${userItem.id}" class="stretched-link"></a>
		    	</div>
		    </div>
		</div>
	</div>
</div>

<div th:fragment="game-card-small">
	<div class="card">
		<div class="row g-0 overflow-y-hidden" style="height: 93px">
			<div class="col-3 mh-100" style="width: 200px">
		    	<img class="img-fluid rounded-start" th:src="${gameItem.imageUrl}">
		    </div>
		    <div class="col mh-100">
		    	<div class="card-body px-4" style="height: 100%">
		        	<h5 class="card-title" th:text="${gameItem.title}"></h5>
		        	<p class="card-text"><small class="text-body-secondary">Genres:&emsp;
						<span th:each="genre : ${gameItem.genres}" th:text="${genre} + ${'&emsp;'}"></span></small>
					</p>
					<a th:href="@{~/game/} + ${gameItem.id}" class="stretched-link"></a>
		    	</div>
		    </div>
		</div>
	</div>
</div>

<div th:fragment="post-card">
	<div class="card">
		<div class="row g-0 overflow-y-hidden">
		    <div class="col mh-100">
		    	<div class="card-body px-4" style="height: 100%">
		        	<h5 class="card-title" th:text="${postItem.title}"></h5>
		        	<p class="card-text" style="min-height: 8rem" th:text="${postItem.message}"></p>
					<a th:href="@{~/game/post/} + ${postItem.id}" class="stretched-link"></a> <!-- TODO: Use Boostrap Modal --> 
		    	</div>
		    </div>
		</div>
	</div>
</div>

<div th:fragment="post-review-card">
	<div class="card py-1" th:classappend="${(postItem.isRecommend) ? 'bg-success-subtle' : 'bg-danger-subtle'}" style="font-size: 0.9em;">
		<div class="row g-0 overflow-y-hidden" style="max-height: 100px">
			<div class="col-2 mh-100 my-1 mx-3 align-self-center" style="max-width: 50px">
				<a class="link-dark link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
						th:href="@{~/user/profile/}+${postItem.userProfile.user.id}">
					<img class="img-fluid rounded-start" th:src="${postItem.userProfile.user.displayImageUrl}"
						onerror="if (this.src != '0.png') this.src = '/image/0.png';">
					<p class="card-text text-center">
						<span th:text="${postItem.userProfile.user.displayName}"></span>
					</p>
				</a>
			</div>
		    <div class="col mh-100" style="transform: rotate(0);">
		    	<div class="card-body pb-4" style="height: 100%">
		        	<p class="card-text m-0 line-truncate-3 lh-sm" th:text="${postItem.message}"></p>
		        	<small class="card-text text-body-tertiary position-absolute bottom-0 end-0 pe-1 pb-1" th:text="${postItem.datePosted}"></small>
					<a th:href="@{~/game/post/} + ${postItem.id}" class="stretched-link"></a> 
		    	</div>
		    </div>
		    <div class="col-1 mh-100 text-center align-self-center" style="min-width: 75px">
				<i th:classappend="${postItem.isRecommend} ? 'h4 text-success bi bi-hand-thumbs-up-fill' : 'h4 text-danger bi bi-hand-thumbs-down-fill'"></i>
			</div>
		</div>
	</div>
</div>
	<!--
		USER_FOLLOW_GAME, USER_FOLLOW_DEV, USER_FOLLOW_USER, 
		USER_CREATE_LIST, USER_CREATE_GAME_REVIEW,
		DEV_CREATE_GAME_PAGE, GAME_UPDATE_POST
	-->
	
<div th:fragment="activity-card">
	<div class="card py-1" style="font-size: 0.9em;">
		<div class="row g-0 overflow-y-hidden" style="max-height: 100px">
			<div class="col-2 mh-100 my-1 mx-3 align-self-center" style="max-width: 30px">
				<a class="link-dark link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
						th:href="@{~/user/profile/}+${activityItem.parentId}">
					<img class="img-fluid rounded-start" th:src="${''}"
						onerror="if (this.src != '0.png') this.src = '/image/0.png';">
				</a>
			</div>
		    <div class="col mh-100">
		    	<div class="card-body pb-3" style="height: 100%">
					<div class="card-text m-0 line-truncate-3 lh-sm">
						<a th:if="${activityItem.parentType.toString() == 'USER'}"
							th:text="${activityItem.parentName}" th:href="@{~/user/profile/}+${activityItem.parentId}"></a>
						<a th:if="${activityItem.parentType.toString() == 'GAME'}"
							th:text="${activityItem.parentName}" th:href="@{~/game/}+${activityItem.parentId}"></a>
						<span th:text="${activityItem.message}+${'&nbsp;'}"></span>
						<a th:if="${activityItem.targetType.toString() == 'USER'}"
							th:text="${activityItem.targetName}" th:href="@{~/user/profile/}+${activityItem.targetId}"></a>
						<a th:if="${activityItem.targetType.toString() == 'GAME'}"
							th:text="${activityItem.targetName}" th:href="@{~/game/}+${activityItem.targetId}"></a>
					</div>
		        	<small class="card-text text-body-tertiary position-absolute bottom-0 end-0 pe-3 pb-1"
		        		th:text="${#temporals.format(activityItem.timeCreated, 'yyyy-MM-dd HH:mm:ss')}"></small>
		    	</div>
		    </div>
		</div>
	</div>
	<!--<div th:if="${activityItem.activityType.toString() == 'USER_FOLLOW_GAME'}">
		<p th:text="${activityItem.message}"></p>
	</div>
	<div th:if="${activityItem.activityType.toString() == 'USER_FOLLOW_DEV' ||
				  activityItem.activityType.toString() == 'USER_FOLLOW_USER'}">
		<p th:text="${activityItem.message}"></p>
	</div>-->
	<!--
	<div class="card py-1" th:classappend="${(postItem.profile.user.id == #ctx.session.user.id) ? 'bg-success-subtle' : 'bg-danger-subtle'}" style="font-size: 0.9em;">
		<div class="row g-0 overflow-y-hidden" style="max-height: 100px">
			<div class="col-2 mh-100 my-1 mx-3 align-self-center" style="max-width: 50px">
				<a class="link-dark link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
						th:href="@{~/user/profile/}+${postItem.userProfile.user.id}">
					<img class="img-fluid rounded-start" th:src="${postItem.userProfile.user.displayImageUrl}"
						onerror="if (this.src != '0.png') this.src = '/image/0.png';">
					<p class="card-text text-center">
						<span th:text="${postItem.userProfile.user.displayName}"></span>
					</p>
				</a>
			</div>
		    <div class="col mh-100" style="transform: rotate(0);">
		    	<div class="card-body pb-4" style="height: 100%">
		        	<p class="card-text m-0 line-truncate-3 lh-sm" th:text="${postItem.message}"></p>
		        	<small class="card-text text-body-tertiary position-absolute bottom-0 end-0 pe-1 pb-1" th:text="${postItem.datePosted}"></small>
					<a th:href="@{~/game/post/} + ${postItem.id}" class="stretched-link"></a> 
		    	</div>
		    </div>
		    <div class="col-1 mh-100 text-center align-self-center" style="min-width: 75px">
				<i th:classappend="${postItem.isRecommend} ? 'h4 text-success bi bi-hand-thumbs-up-fill' : 'h4 text-danger bi bi-hand-thumbs-down-fill'"></i>
			</div>
		</div>
	</div>
	-->
</div>