<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="user-card">
	<div class="card">
		<div class="row g-0 overflow-y-hidden" style="height: 60px">
			<div class="col-3 mh-100" style="width: 60px">
		    	<img class="img-fluid rounded-start" th:src="${userItem.displayImageUrl}"
		    		onerror="if (this.src != '0.png') this.src = '/image/0.png';">
		    </div>
		    <div class="col mh-100">
		    	<div class="card-body px-4 h-100">
		        	<h5 class="card-title m-0" th:text="${userItem.displayName}"></h5>
		        	<a th:href="@{~/user/profile/} + ${userItem.id}" class="stretched-link"></a>
		    	</div>
		    </div>
		</div>
	</div>
</div>

<div th:fragment="game-card-small">
	<div class="card">
		<div class="row g-0 overflow-y-hidden" style="height: 93px">
			<div class="col-3 mh-100" style="width: 200px">
		    	<img class="img-fluid rounded-start" th:src="${gameItem.imageUrl}">
		    </div>
		    <div class="col mh-100">
		    	<div class="card-body px-4" style="height: 100%">
		        	<h5 class="card-title" th:text="${gameItem.title}"></h5>
		        	<p class="card-text"><small class="text-body-secondary">Genres:&emsp;
						<span th:each="genre : ${gameItem.genres}" th:text="${genre} + ${'&emsp;'}"></span></small>
					</p>
					<a th:href="@{~/game/} + ${gameItem.id}" class="stretched-link"></a>
		    	</div>
		    </div>
		</div>
	</div>
</div>

<div th:fragment="post-card">
	<div class="card">
		<div class="row g-0 overflow-y-hidden">
		    <div class="col mh-100">
		    	<div class="card-body px-4" style="height: 100%">
		        	<h5 class="card-title" th:text="${postItem.title}"></h5>
		        	<p class="card-text" style="min-height: 8rem" th:text="${postItem.message}"></p>
					<a th:href="@{~/game/post/} + ${postItem.id}" class="stretched-link"></a> <!-- TODO: Use Boostrap Modal --> 
		    	</div>
		    </div>
		</div>
	</div>
</div>

<div th:fragment="post-review-card">
	<div class="card" th:classappend="${(postItem.isRecommend) ? 'bg-success-subtle' : 'bg-danger-subtle'}">
		<div class="row g-0 overflow-y-hidden" style="max-height: 120px">
			<div class="col-2 mh-100" style="max-width: 60px">
				<img class="img-fluid rounded-start" th:src="${postItem.userProfile.user.displayImageUrl}"
					onerror="if (this.src != '0.png') this.src = '/image/0.png';">
				<p class="card-text" th:text="${postItem.userProfile.user.displayName}"></p>
			</div>
		    <div class="col-9 mh-100">
		    	<div class="card-body px-4" style="height: 100%">
		        	<h5 class="card-title" th:text="${#strings.isEmpty(postItem.title)} ? 'Untitled' : ${postItem.title}"></h5>
		        	<p class="card-text" th:text="${postItem.message}"></p>
					<a th:href="@{~/game/post/} + ${postItem.id}" class="stretched-link"></a> <!-- TODO: Use Boostrap Modal --> 
		    	</div>
		    </div>
		    <div class="col-1 mh-100">
				<p th:text="${postItem.isRecommend}"></p>
			</div>
		</div>
	</div>
</div>