<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: html_head}" />
<script src=" https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js "></script>
<script defer type="text/javascript" th:src="@{/js/admin-dashboard.js}"></script>

<body>
	<div th:include="~{fragments/layout.html :: offcanvas_nav}" th:with="currPage='Dashboard'"/>
	
	<main class="dashboard">
		<h1 class="display-5 mb-4">My Admin Dashboard</h1>
		
		<div id="metrics-container" class="my-4">
			<div class="row text-center bg-body-secondary">
				<div class="col-lg-3 col-sm-6 border p-3"><p class="display-6 m-0 fw-medium" th:text="${pendingApplicationCount}"></p>
					<a class="text-decoration-none" th:href="@{~/admin/game-application}"><span>pending game submissions </span><i class="bi bi-arrow-right"></i></i></a>
				</div>
				<div class="col-lg-3 col-sm-6 border p-3"><p class="display-6 m-0 fw-medium" th:text="${gamerCount}"></p>unique users</div>
				<div class="col-lg-3 col-sm-6 border p-3"><p class="display-6 m-0 fw-medium" th:text="${devCount}"></p>unique developers</div>
				<div class="col-lg-3 col-sm-6 border p-3"><p class="display-6 m-0 fw-medium" th:text="${gameCount}"></p>unique games</div>
			</div>
		</div>
		
		<div id="chart-container" class="mt-5">
			<div class="row gx-5">
				<div class="col-xl-6 mt-4 mb-5">
					<div id="chart-top-ratings" style="height: 33vh"></div>
				</div>
				<div class="col-xl-6 mt-4 mb-5">
					<div id="chart-top-followers" style="height: 33vh"></div>
				</div>
				<div class="col-xl-6 mt-4 mb-5">
					<div id="chart-genres-dist" style="height: 33vh"></div>
				</div>
				<div class="col-xl-6 mt-4 mb-5">
					<div id="chart-new-signups" style="height: 33vh"></div>
				</div>
			</div>
		</div>
		<input id="jsonData" type="hidden" th:data-jsondata="${jsonData}"/>
	</main>
</body>
</html>