<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8" />
    <title>Game</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
  </head>
  <body>
    <h2 class="text-center">Game</h2>
    <div class="container my-2 border">
      <div class="row">
        <div class = "col-6">
          <div id="main1" style="width: 600px;height:400px;"></div>
          <script th:inline="javascript">
            var myChart = echarts.init(document.getElementById('main1'));

            option = {
              title: {
                text: 'Number of Games Pending Review',
                subtext: '',
                left: 'center'
              },
              tooltip: {
                trigger: 'item'
              },
              legend: {
                orient: 'vertical',
                left: 'left'
              },
              series: [
                {
                  name: 'Access From',
                  type: 'pie',
                  radius: '50%',
                  data: [
                    { value: [[${gameCount}]], name: 'Number of Games' },
                    { value: [[${pendingReviewCount}]], name: 'APPLIED' }
                  ],
                  emphasis: {
                    itemStyle: {
                      shadowBlur: 10,
                      shadowOffsetX: 0,
                      shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                  }
                }
              ]
            };
         
            myChart.setOption(option);
          </script>
        </div>
        <div class = "col-6" >
          <div id="main" style="width: 600px;height:400px;"></div>
          <script th:inline="javascript">
          
            var myChart = echarts.init(document.getElementById('main'));
            var total = [[${totalCount}]];
          
            var option = {
              title: {
                text: 'Total Games'
              },
              tooltip: {},
              legend: {
                data: ['number']
              },
              xAxis: {
                data: ['game']
              },
              yAxis: {},
              series: [
                {
                  name: 'number',
                  type: 'bar',
                  data: [total]
                }
              ]
            };
          
            myChart.setOption(option);
          </script>
        </div>
      </div>
      <div class="row">
        <div class = "col-6">
          <div id="main2" style="width: 600px;height:400px;"></div>
          <script th:inline="javascript">
         
            var myChart = echarts.init(document.getElementById('main2'));

            option = {
              title: {
                text: 'Number of Games Pending Review',
                subtext: '',
                left: 'center'
              },
              tooltip: {
                trigger: 'item'
              },
              legend: {
                orient: 'vertical',
                left: 'left'
              },
              series: [
                {
                  name: 'Access From',
                  type: 'pie',
                  radius: '50%',
                  data: [
                    { value: [[${gameCount}]], name: 'Number of Games' },
                    { value: [[${pendingReviewCount}]], name: 'Pending Review' }
                  ],
                  emphasis: {
                    itemStyle: {
                      shadowBlur: 10,
                      shadowOffsetX: 0,
                      shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                  }
                }
              ]
            };
         
            myChart.setOption(option);
          </script>
        </div>
        <div class = "col-6" >
          <div id="main3" style="width: 600px;height:400px;"></div>
          <script th:inline="javascript">
            var myChart = echarts.init(document.getElementById('main3'));

     
            var option = {
              title: {
                text: 'ECharts 入门示例'
              },
              tooltip: {},
              legend: {
                data: ['销量']
              },
              xAxis: {
                data: ['game1', 'game2', 'game3', 'game4', 'game5', 'game6']
              },
              yAxis: {},
              series: [
                {
                  name: 'recommended',
                  type: 'bar',
                  data: [5, 20, 36, 10, 10, 20]
                }
              ]
            };
 
            myChart.setOption(option);
          </script>
        </div>
      </div>
    </div>
  </body>
</html>