<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: html_head}" />

<body>
	<div th:include="~{fragments/layout.html :: offcanvas_nav}" th:with="currPage='Games'"/>
	<main>
		<h1 class="display-5">Search</h1>
		<div class="pt-4">
			<!-- Empty Case -->
			<div th:if="${#lists.isEmpty(gameList)}">
				<p class="text-center"><span th:text="${dev.displayName}"></span> has no published Game Pages.</p>
			</div>
			
			<!-- Pagination -->
			<div th:if="${not #lists.isEmpty(gameList)}" th:replace="~{fragments/layout.html :: pagination-bar-search}" />
			
			<!-- Search Results - Game -->
			<div th:if="${not #lists.isEmpty(gameList)}">
				<div class="card mb-3" th:each="game : ${gameList}">
					<div class="row g-0 overflow-y-hidden" style="height: 93px">
						<div class="col-md-3 mh-100" style="width: 200px">
					    	<img class="img-fluid rounded-start" th:src="${game.imageUrl}">
					    </div>
					    <div class="col-md-7 mh-100">
					    	<div class="card-body px-4" style="height: 100%">
					        	<h5 class="card-title" th:text="${game.title}"></h5>
					        	<p class="card-text"><small class="text-body-secondary">Genres:&emsp;
									<span th:each="genre : ${game.genres}" th:text="${genre} + ${'&emsp;'}"></span></small>
								</p>
								<a th:href="@{~/game/} + ${game.id}" class="stretched-link"></a>
					    	</div>
					    </div>
					    <div class="col-md mh-100 d-flex align-items-center">
					    	<div class="card-body text-center">
								<span th:text="${(game.rating > 0.9) ? 'GREAT' :
											     (game.rating > 0.7) ? 'GOOD' : 
											     (game.rating > 0.5) ? 'AVERAGE' : 'NEGATIVE' }"
									  th:classappend="${(game.rating > 0.9) ? 'text-success' :
														(game.rating > 0.7) ? 'text-success' : 
														(game.rating > 0.5) ? 'text-warning' : 'text-danger' }"></span>
					    	</div>
					    </div>
					    <div class="col-md mh-100 d-flex align-items-center">
					    	<div class="card-body text-center">
								<span th:text="'$' + ${game.price}"></span>
					    	</div>
					    </div>
					</div>
				</div>
			</div>
			
			<!-- Search Results Count -->
			<div th:if="${not #lists.isEmpty(gameList)}" class="col-12">
				<p style="font-size:0.9rem; align-self:center;">Total Entries: <span th:text="${totalItems}"></span></p>
			</div>
		</div>
	</main>
</body>
</html>