<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: html_head}" />

<body>
	<div th:include="~{fragments/layout.html :: offcanvas_nav}" th:with="parentPage='Admin'"/>
	<main>
		<h1 class="display-5">My Game Applications <span th:unless="${showAll}">(Pending)</span></h1>
		<div class="pt-4">
			<!--<div th:replace="~{fragments/layout.html :: pagination-bar}" />-->
			
			<div th:if="${#lists.isEmpty(gameApplicationList)}">
				<p class="text-center">You do not have any <span th:unless="${showAll}">pending </span>game applications.</p>
			</div>
			
			<div th:if="${not #lists.isEmpty(gameApplicationList)}">
				<table class="table table-sm table-bordered border-light" width="100%">
					<thead class="table-light border-light-subtle">
						<tr>
							<td>Game Title</td>
							<td>Game Developer</td>
							<td>Approval Status</td>
							<td>Action</td>
						</tr>
					</thead>
					<tr th:each="gameApp : ${gameApplicationList}">
						<td th:text="${gameApp.title}"></td>
						<td th:text="${gameApp.developer.displayName}"></td>
						<td class="fw-normal" th:text="${gameApp.approvalStatus}"
							th:classappend="${ (gameApp.approvalStatus.toString() == 'APPLIED' || gameApp.approvalStatus.toString() == 'UPDATED') ? 'text-primary' : 
											   (gameApp.approvalStatus.toString() == 'APPROVED') ? 'text-success' :
											   (gameApp.approvalStatus.toString() == 'REJECTED') ? 'text-danger' : 'text-secondary'}"></td>
						<td>
							<span><a class="btn btn-sm btn-outline-primary" th:href="@{~/admin/game-application/view/}+${gameApp.id}">View</a></span>
						</td>
					</tr>									
				</table>
			</div>
			<!--<div class="col-12">
				<p style="font-size:0.9rem; align-self:center;">Total Entries: <span th:text="${totalItems}"></span></p>
			</div>-->
			<div class="d-flex flex-row-reverse">
				<span class="ms-3" th:if="${showAll}"><a class="btn btn-sm btn-dark text-decoration-none" th:href="@{~/admin/game-application}">View Pending</a></span>
				<span class="ms-3" th:unless="${showAll}"><a class="btn btn-sm btn-dark text-decoration-none" th:href="@{~/admin/game-application?showAll=true}">View All</a></span>
				<span class="ms-3"><a class="btn btn-sm btn-outline-dark text-decoration-none" th:href="@{~/}">Back to Dashboard</a></span>
			</div>
		</div>
	</main>
</body>
</html>