<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: html_head}" />

<body>
	<div th:include="~{fragments/layout.html :: offcanvas_nav}" th:with="currPage='Games'"/>
	<main>
		<h1 class="display-5">Game Updates</h1>
		<div class="pt-4">
			<!-- Empty Case -->
			<div th:if="${#lists.isEmpty(gameUpdatePosts)}">
				<p class="text-center"><span th:text="${dev.displayName}"></span> has no published Game Pages.</p>
			</div>
			
			<!-- Pagination -->
			<div th:if="${not #lists.isEmpty(gameUpdatePosts)}" th:replace="~{fragments/layout.html :: pagination-bar-search}" />
			
			<!-- List -->
			<div class="row gx-3" th:if="${not #lists.isEmpty(gameUpdatePosts)}">
				<div th:if="${isProfileOwner}" class="col-12 mb-3" th:each="gameUpdatePost : ${gameUpdatePosts}"
					th:include="~{fragments/cards.html :: post-card-editable}" th:with="postItem=${gameUpdatePost}"/>
				<div th:unless="${isProfileOwner}" class="col-12 mb-3" th:each="gameUpdatePost : ${gameUpdatePosts}"
					th:include="~{fragments/cards.html :: post-card}" th:with="postItem=${gameUpdatePost}"/>
			</div>
			
			<!-- List Count -->
			<div th:if="${not #lists.isEmpty(gameUpdatePosts)}" class="col-12">
				<p style="font-size:0.9rem; align-self:center;">Total Entries: <span th:text="${totalItems}"></span></p>
			</div>
			<div class="d-flex flex-row-reverse">
				<span class="ms-3"><a class="btn btn-dark text-decoration-none" th:href="@{'/game/'}+${game.id}">Back to Game Page</a></span>
			</div>
		</div>
	</main>
</body>
</html>