<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: html_head}" />

<body id="body-login">
	<div th:replace="~{fragments/layout.html :: topbar}" />
	<div class="row pt-5 w-50 mx-auto">
		<div class="col-12">
			<h1 class="display-5">Login</h1><br />
			<form id="formLogin" action="#" th:action="@{'/login'}" th:object="${account}" method="post">
				<div class="form-group row">
					<label for="username" class="col-3 col-form-label">Username</label>
					<div class="col-9">
						<input type="text" class="form-control" placeholder="Username" th:field="*{username}" autocomplete="off">
					</div>
				</div>
				<div class="form-group row">
					<label for="password" class="col-3 col-form-label">Password</label>
					<div class="col-9">
						<input type="password" class="form-control" placeholder="Password" th:field="*{password}">
					</div>
				</div>
				<div class="form-group row mt-2">
					 <div class="d-flex flex-row-reverse">
						<button class="btn btn-primary ms-3" type="submit">Log In</button>
						<span class="ms-3"><a class="btn btn-outline-dark text-decoration-none" th:href="@{~/register-gamer}">Register As Gamer</a></span>
						<span class="ms-3"><a class="btn btn-outline-dark text-decoration-none" th:href="@{~/register-dev}">Register As Developer</a></span>
					</div>
				</div>
			</form>
			<div class="row mt-2">
				<div th:if="${errorMsg != null}" th:text="${errorMsg}" class="alert alert-warning"></div>
				<div th:each="err : ${#fields.errors('account.*')}" th:text="${err}" class="alert alert-warning"></div>
			</div>
		</div>
	</div>
</body>
</html>