<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: html_head}" />

<body>
	<div th:include="~{fragments/layout.html :: offcanvas_nav}" th:with="parentPage='Application'"/>
	<main class="main-small">
		<h1 class="display-5">Game Review</h1>
		<div class="my-4">
			<p th:text="${post.message}"></p>
			<p class="text-end">
				<small><span th:text="'Posted By:&emsp;'+${postedBy}"></span></small><br>
				<small><span th:text="'Date Posted:&emsp;'+${post.datePosted}"></span></small>
			</p>
			
		</div>
	</main>
</body>
</html>