<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: html_head}" />

<body>
	<div th:include="~{fragments/layout.html :: offcanvas_nav}" th:with="currPage='Games'"/>
	<main>
		<h1 class="display-5"><span th:text="${user.displayName}"></span>'s Followed Games</h1>
		<div class="pt-4">
			<!-- Empty Case -->
			<div th:if="${#lists.isEmpty(gameList)}">
				<p class="text-center"><span th:text="${user.displayName}"></span> has no followed Games.</p>
			</div>
			
			<!-- Search Results - Game -->
			<div class="row gx-3">
				<div class="col-md-6 col-12 mb-3" th:each="gameItem : ${gameList}"
					th:include="~{fragments/cards.html :: game-card-small}" th:with="gameItem=${gameItem}"/>
			</div>
		</div>
	</main>
</body>
</html>