<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: html_head}" />

<body id="body-login">
	<div th:replace="~{fragments/layout.html :: topbar}" />
	<div class="row pt-5 w-50 mx-auto">
		<div class="col-12">
			<h1 class="display-5">Register</h1><br />
			<form id="formLogin" action="#" th:action="@{'/register-gamer'}" th:object="${registerForm}" method="post">
				<div class="form-group row">
					<label for="username" class="col-3 col-form-label">Enter Account Username</label>
					<div class="col-9">
						<input type="text" class="form-control" placeholder="Username" th:field="*{username}">
					</div>
				</div>
				<div class="form-group row">
					<label for="password" class="col-3 col-form-label">Enter Account Password</label>
					<div class="col-9">
						<input type="password" class="form-control" placeholder="Password" th:field="*{password}">
					</div>
				</div>
				<div class="form-group row">
					<label for="displayName" class="col-3 col-form-label">Enter Display Name</label>
					<div class="col-9">
						<input type="text" class="form-control" placeholder="Display Name" th:field="*{displayName}">
					</div>
				</div>
				  			
				<div class="form-group col-12 mt-2">
	    			<label for="genres" class="form-label">Genres&emsp;&emsp;<small>* Hold CTRL (WIN) or CMD (MAC) to Select Multiple Values</small></label>
	    			<select class="form-select" name="genrePreferences" size="5" multiple required>
						<option th:each="genre : ${genreList}" th:value="${T(sg.edu.nus.iss.gamerecommender.model.Game.Genre).valueOf(genre)}" th:text="${genre}"></option>
					</select>
	  			</div>
  			
  			
				<div class="form-group row mt-2">
					 <div class="d-flex flex-row-reverse">
						<button class="btn btn-primary ms-3" type="submit">Register Account</button>
						<span class="ms-3"><a class="btn btn-outline-dark text-decoration-none" th:href="@{~/login}">Back to Login</a></span>
					</div>
				</div>
			</form>
			<div class="row mt-2">
				<div th:if="${errorMsg != null}" th:text="${errorMsg}" class="alert alert-warning"></div>
				<div th:each="err : ${#fields.errors('registerForm.*')}" th:text="${err}" class="alert alert-warning"></div>
			</div>
		</div>
	</div>
</body>
</html>